:root {
  --cor-bg: linear-gradient(180deg, #0b2494d8 0%, #555 70%);
  --cor-primaria: #d10000;
  --cor-primaria-apagada: #ff0000c2;
  --cor-secundaria: #00580f;
  --cor-secundaria-apagada: #0ad62c96;
  --cor-branca: #ffffff;
  --cor-preta: #000;
  --cor-apagada: #ffffff1c;
  --cor-fundo: rgba(100, 100, 100, 0.082);
  --cor-branca-apagada: rgba(255, 255, 255, 0.726);
  --font-main: "Fjalla One", sans-serif;
  --font-inputs: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-title: "BBH Sans Bartle", sans-serif;
  --espaco-linha-menu: 1vh;
}

html {
  scroll-behavior: smooth;
}


/* Navbar fixa no topo */
.top-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 2px solid var(--cor-apagada);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.top-navbar .left-section .logo {
  height: 45px;
  border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.top-navbar .left-section .logo:hover {
  transform: scale(0.97);
  box-shadow: 0 0 6px var(--cor-branca);
}

.top-navbar .right-section {
  display: flex;
  gap: 2rem;
}

.top-navbar .right-section a {
  color: var(--cor-branca);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.top-navbar .right-section a:hover {
  color: var(--cor-secundaria);
  transform: scale(0.98);
}

.top-navbar .right-section a::after,
.top-navbar .right-section a::before {
  content: '';
  display: block;
  width: 100%;
  border: solid 1px var(--cor-branca);
  transition: all 0.2s ease-in-out;
  transform: translateY(0); /* inicial sem deslocamento */
}

.top-navbar .right-section a::after {
  margin-top: var(--espaco-linha-menu); /* só um espaçamento inicial */
}

.top-navbar .right-section a::before {
  margin-bottom: var(--espaco-linha-menu); /* só um espaçamento inicial */
}

.top-navbar .right-section a:hover::after {
  border-color: var(--cor-secundaria);
  transform: translateY(4px); /* move para baixo sem mexer na altura do layout */
}

.top-navbar .right-section a:hover::before {
  border-color: var(--cor-secundaria);
  transform: translateY(-4px); /* move para cima sem mexer na altura do layout */
}

